{
  "extends": "@antfu",
  "plugins": ["case-police"],
  "rules": {
    "case-police/string-check":"error"
  },
  "overrides": [
    {
      "files": "dict/*.json",
      "rules": {
        "jsonc/sort-keys": "error"
      }
    }
  ],
  "ignorePatterns":["dict-temp.json"]
}
